@charset "utf-8";
@use "../global" as g;

.tab {
  @at-root {
    // ---------- ブロックの基底要素 ----------
    // .tab {
    // }

    // ---------- タブのボタン部分 ----------
    // .tab__button__wrap {
    // }

    // .tab__button {
    // }

    // .tab__button[aria-selected="true"] {
    // }

    // .tab__button[aria-selected="true"] .tab__button__inner {
    // }

    // ---------- タブ本体部分 ----------
    // .tab__body {
    // }

    .tab__body[aria-hidden="true"] {
      display: none;
      margin: 0;
      padding: 0;
      border: none;
      height: 0;
      visibility: hidden;

      * {
        opacity: 0;
      }
    }
  }
}
