@charset "utf-8";
@use "../global" as g;

.textTransition {
  @at-root {
    // ---------- 基底要素 ----------
    .textTransition__item {
      background-image:
        linear-gradient(
          100deg,
          g.$base-text-color 0%,
          g.$base-text-color 45%,
          #fff 55%,
          #fff 100%
        );
      background-size: 230% 100%;
      background-position: 100% 0;
      background-repeat: no-repeat;
      background-clip: text;
      color: transparent;
      transition: background 0.8s ease-in-out;
    }

    .passedTextTransition {
      background-position: 0;
    }
  }
}
