@charset "utf-8";

// ========== base color ==========
$base-color: #333;

// ========== color ==========

// ========== text color ==========
$base-text-color: #333;

// ========== font ==========
$font-size: 14px;
$font-size-pc: 16px;

// ========== gradation ==========

// ========== easing ==========
$easing: cubic-bezier(0.42, 0, 0.58, 1);

// ========== contents size ==========
$content-width: 375;
$content-width-pc: 1000;
$content-margin: 20px;
$content-margin-pc: 30px;
$content-size: $content-width-pc + ($content-margin * 2);

// ========== break point ==========
$breakpoint: 768px;

// ========== mobile first ==========
