---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@src/components/common/Section.astro';
import Heading from '@src/components/parts/Heading.astro';
---

<BaseLayout
  title="__dummy__"
  description="__dummy__"
  ogImage="__dummy__.jpg"
>
  <main>
    <Section>
      <Heading
        level={1}
        text="ページが存在しません。"
      />
    </Section>
  </main>
</BaseLayout>
