@charset "utf-8";

@use 'global' as g;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

:root:not(.useLenis) {
  scroll-behavior: smooth;
}

// OS の設定で視差効果をオフにしている場合の処理
@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: g.rem(g.$font-size);
  font-weight: 400;
  color: g.$base-text-color;
  line-height: 1.6;

  @include g.mediaQuery() {
    font-size: g.rem(g.$font-size-pc);
  }
}

body.-is-modal-open {
  width: 100%;
  overflow-y: hidden;
  position: fixed;
  left: 0;
}

main {
  flex-grow: 1;
}

a {
  color: g.$base-text-color;
}

// :where(:focus-visible) {
// }

summary {
  display: block;

  // Safari で表示されるデフォルトのアイコンを非表示にする
  &::-webkit-details-marker {
    display: none;
  }
}

dialog {
  background: transparent;
  border: none;
}



// Lenis 用のスタイル
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
