@charset "utf-8";
@use "global" as g;
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap";

:root {
  scroll-behavior: smooth;
}

// OS の設定で視差効果をオフにしている場合の処理
@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans JP", sans-serif;
  background: #fff;
  font-size: g.rem(g.$font-size);
  font-weight: 400;
  line-height: 1.6;
  color: g.$base-text-color;

  @include g.mediaQuery {
    font-size: g.rem(g.$font-size-pc);
  }
}

body.is-modal-open {
  width: 100%;
  position: fixed;
  left: 0;
  overflow-y: hidden;
}

main {
  flex-grow: 1;
}

a {
  color: g.$base-text-color;
}

// :where(:focus-visible) {
// }

summary {
  display: block;

  // Safari で表示されるデフォルトのアイコンを非表示にする
  &::-webkit-details-marker {
    display: none;
  }
}

dialog {
  background: transparent;
  border: none;
}
