---
---

<div class="root tab">
  <div class="tab__button__wrap">
    <button type="button" class="tab__button">タブボタン1</button>
    <button type="button" class="tab__button">タブボタン2</button>
  </div>

  <div class="tab__body__wrap">
    <div
      class="tab__body"
      aria-hidden="false"
    >
      <p>テキスト1テキスト1テキスト1</p>
    </div>
    <div
      class="tab__body"
      aria-hidden="true"
    >
      <p>テキスト2テキスト2テキスト2テキスト2</p>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../../style/global" as g;

  // ---------- 基底要素 ----------
  .root {
    width: 100%;
    margin-top: g.rem(40px);
  }

  // ---------- ボタン要素 ----------
  .tab__button__wrap {
    display: flex;
    gap: g.rem(10px);
    position: relative;
    z-index: 2;
  }

  .tab__button {
    flex: 1 1 0;
    padding: g.rem(10px);
    background: #fff;
    border: 1px solid g.$base-color;
    border-radius: g.rem(10px) g.rem(10px) 0 0;
  }

  // ---------- 本体要素 ----------
  .tab__body[aria-hidden="true"] {
      display: none;
      margin: 0;
      padding: 0;
      border: none;
      height: 0;
      visibility: hidden;

      * {
        opacity: 0;
      }
    }

  .tab__body__wrap {
    padding: g.rem(20px);
    background: #fff;
    border: 1px solid g.$base-color;
    position: relative;
    top: g.rem(-1px);
    z-index: 1;
  }

  // .tab__body {
  // }
</style>
