---
export interface Props {
  text: Array<string>;
}

const { text } = Astro.props;
---

<div class="root textTransition">
  {text.map(item => <p class="textTransition__item">{item}</p>)}
</div>

<style lang="scss">
  @use "../../style/global" as g;

  // ---------- 基底要素 ----------
  // .root {
  // }

  // ---------- テキスト要素 ----------
  :global(.textTransition__item) {
    background-image:
      linear-gradient(
        100deg,
        g.$base-text-color 0%,
        g.$base-text-color 45%,
        #fff 55%,
        #fff 100%
      );
    background-size: 230% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
    transition: background 0.8s ease-in-out;
  }

  :global(.passedTextTransition) {
      background-position: 0;
    }
</style>
