---
export interface Props {
  text: Array<string>;
}

const { text } = Astro.props;
---

<div class="root">
  {text.map(item => <p set:html={item} />)}
</div>

<style lang="scss">
  @use '../../style/global' as g;

  // ---------- 基底要素 ----------
  .root {
    margin-top: 1.5em;
    font-size: g.rem(14px);

    @include g.mediaQuery() {
      font-size: g.rem(16px);
    }
  }

  .root + .root {
    margin-top: 1em;
  }

  // ---------- テキスト要素 ----------
</style>
